<!DOCTYPE html>
<html>
  <head>
		<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- Import Font-Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/assets/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!-- Include stylesheet for materialize.css -->
    <link rel="stylesheet" type="text/css" href="/assets/materialize.css" />
      <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/materialize.min.js"></script>
    <!-- Include UTF encoding -->
    <meta charset="utf-8">

    <title>New Territories NYC</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <ul class="left menu-line">
        <li><%= link_to 'Home', website_index_path, class: "menu-text" %></li>
        <li><%= link_to 'Menu', menu_index_path, class: "menu-text" %></li>
      </ul>
      <a href="<%=root_path%>" class="brand-logo center"><img class="logo" src="/assets/icon.png" height=120 width=120></a>
      <ul class="right menu-line">
        <li><%= link_to 'Jobs', jobs_path, class: "menu-text" %></li>
          <% if current_page?(menu_index_path) %>
            <li><%= link_to 'Contact Us', menu_index_path(anchor: "contact"),class: "menu-text" %></li>
          <% elsif current_page?(jobs_path) %>
            <li><%= link_to 'Contact Us', jobs_path(anchor: "contact"),class: "menu-text" %></li>
          <% else current_page?(website_index_path) %>
            <li><%= link_to 'Contact Us', website_index_path(anchor: "contact"),class: "menu-text" %></li>
          <% end %>                
      </ul>
    </div>
  </nav>

<!-- Version One -->
<!--     <div class="image"> -->
 <!--      <img class="responsive-img" src="<%= @background_image %>"> -->
<!--       <span class="image-nav"> -->
<!--         <nav class="z-depth-0 transparent">
          <div class="nav-wrapper">
            <a href="<%=root_path%>" class="brand-logo center-align"><img class="logo" src="/assets/icon.png" height=120 width=120></a>
            <a href="#" data-activates="dropdown1" class="dropdown-button btn-large btn-flat menu-icon"><i class="material-icons">menu</i></a>
              <span class="nav-heading">
                <ul class="right menu-line">
                  <li><%= link_to 'Home', website_index_path, class: "menu-text" %></li>
                  <li><%= link_to 'Menu', menu_index_path, class: "menu-text" %></li>
                  <li><%= link_to 'Jobs', jobs_path, class: "menu-text" %></li>
                  <% if current_page?(menu_index_path) %>
                    <li><%= link_to 'Contact Us', menu_index_path(anchor: "contact"),class: "menu-text" %></li>
                  <% elsif current_page?(jobs_path) %>
                    <li><%= link_to 'Contact Us', jobs_path(anchor: "contact"),class: "menu-text" %></li>
                  <% else current_page?(website_index_path) %>
                    <li><%= link_to 'Contact Us', website_index_path(anchor: "contact"),class: "menu-text" %></li>
                  <% end %>                
                </ul>
              </span>
                <ul class="dropdown-content" id="dropdown1">
                  <li><%= link_to 'Home', website_index_path, class: "menu-text" %></li>
                  <li><%= link_to 'Menu', menu_index_path, class: "menu-text" %></li>
                  <li><%= link_to 'Jobs', jobs_path, class: "menu-text" %></li>
                  <% if current_page?(menu_index_path) %>
                    <li><%= link_to 'Contact Us', menu_index_path(anchor: "contact"),class: "menu-text" %></li>
                  <% elsif current_page?(jobs_path) %>
                    <li><%= link_to 'Contact Us', jobs_path(anchor: "contact"),class: "menu-text" %></li>
                  <% else current_page?(website_index_path) %>
                    <li><%= link_to 'Contact Us', website_index_path(anchor: "contact"),class: "menu-text" %></li>
                  <% end %> 
                </ul>
          </div>
        </nav>
      </span> -->
<!--         <% if current_page?(root_path) || current_page?(website_index_path) %>
          <div class="image-text">New Territories</div>
          <div class="slogan-text">Stop Making Sense!</div>
        <% elsif current_page?(menu_index_path) %>
          <div class="image-text">Menu</div>
        <% elsif current_page?(jobs_path) %>
          <div class="image-text">Jobs</div>
        <% end %> -->
 <!--    </div>  -->  

    <%= yield %>
  <%= render partial: "./footer" %>
  </body>
</html>