<!DOCTYPE html>
<html>
  <head>
		<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- Import Font-Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/assets/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!-- Include stylesheet for materialize.css -->
    <link rel="stylesheet" type="text/css" href="/assets/materialize.css" />
      <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/materialize.min.js"></script>
    <!-- Include UTF encoding -->
    <meta charset="utf-8">

    <title>New Territories NYC</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="dropdown1" class="dropdown-button btn-large btn-flat menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <span class="nav-heading">
          <% if current_page?(root_path) %>
            <ul class="left left-menu-line">
              <li><%= link_to 'ABOUT', root_path(anchor: "about"), class: "menu-text" %></li>
              <li><%= link_to 'MENU', root_path(anchor: "menu"), class: "menu-text" %></li>
            </ul>
          <% end %>
          <a href="<%=root_path%>" class="brand-logo center"><img class="logo" src="/assets/icon.png" height=120 width=120></a>
          <% if current_page?(root_path) %>
            <ul class="right right-menu-line">
              <li><%= link_to 'HIT US UP', root_path(anchor: "contact"), class: "menu-text" %></li>
              <li><%= link_to 'THE BUZZ', root_path(anchor: "news"), class: "menu-text" %></li>             
            </ul> 
          <% end %>             
        </span>
          <ul class="dropdown-content" id="dropdown1">
            <li><%= link_to 'ABOUT', root_path(anchor: "about"), class: "menu-text" %></li>
            <li><%= link_to 'MENU', root_path(anchor: "menu"), class: "menu-text" %></li>
            <li><%= link_to 'HIT US UP', root_path(anchor: "contact"), class: "menu-text" %></li>
            <li><%= link_to 'THE BUZZ', root_path(anchor: "news"), class: "menu-text" %></li> 
            </ul>
    </div>
  </nav>

    <%= yield %>
  <%= render partial: "./footer" %>
  </body>
</html>