<!DOCTYPE html>
<html>
  <head>
    <title>New Territories NYC</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css' %>
    <%= stylesheet_link_tag    'application.index_page', media: 'all' %>
    <%= javascript_include_tag 'application.index_page', media: 'all' %>
  </head>

  <body>
    <%= render partial: 'partials/header' %>
    <%= yield %>
  </body>
</html>
